<header class="header">
    <div class="header-1">Dockable Restaurants</div>
    <div class="header-2">Charleston, SC</div>
    <div class="header-3">
        In Charleston, SC, Dennis Chapman and his daughter Karlee set out on a journey to dine at every restaurant where you can arrive by boat.  
        So they created a list and over the course of two summers, went boating and ate lunch at each restaurant, one by one.  
        They snapped a photo of their boat docked at the restaurants to gradually add to a computer wallpaper collage. 
    </div>
    <br>
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button">Want to see the wallpaper?</button>

    <div class="w3-container">
        <div id="id01" class="w3-modal">
            <!--<div class="w3-modal-content">-->
                <div class="w3-container">
                    <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-button-x w3-display-topright">&times;</span>
                    <img src="/assets/images/CharlestonDockableRestaurants.jpg" class="wallpaper-image">
                </div>
            <!--</div>-->
        </div>
    </div>
    </header>
